@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css');

.wrapper {
	background: linear-gradient(to bottom, #00b4db, #0083b0);
	h1, h2, h3, h4, h5, h6, p, span {
		font-family: 'Rajdhani', sans-serif;
	}
	display: flex;
	flex-direction: column;
	height: 100vh;
	.scroll-content {
		display: flex;
		flex-direction: column;
	}
}

.someClass {
	color:crimson;transform:rotate(10deg);
}

.card {
	border-radius: 16px;
}

.chart-card {
	flex-grow: 35;
	position: relative;
}

.settings-button {
	// display: none;
	right:0;
	font-size: 1em;
	position: absolute;
	z-index:2;
	margin: 10px;
	color: black;
	padding:0; border-radius: 50px; padding:0px 10px 0px 10px;
}

#card1 {
	flex-grow: 25;
	margin-bottom: 20px;
}

.details {
	display: flex;
	justify-content: space-around;
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		font-size: 40px;
	}
}

.button {
	border-radius: 200px;
	background: #00a3cd;
	&:hover:not(.disable-hover) {
		background: #0085b6;
	}
	&.activated {
		background: #0085b6;
	}
}

.button-circle {
	background: white;
	color: black;
	padding: 16px;
	height: 64px;
	border-radius: 16px;
	box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.62);
	flex: 1;
	&:hover:not(.disable-hover) {
		background: #eeeeee;
	}
	&.activated {
		background: #eeeeee;
	}
	&:first-child {
		margin-right: 16px;
	}
	.button-inner {	
		display: flex;
		flex-direction: column;
	}
	.title {
		display: block;
		font-size: 40px;
	}
	.subtitle {
		display: block;
		font-size: 12px;
	}
}

#button-grid {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 5px;
	.button {
		width: 30%;
		height: 30px;
	}
	.input-wrapper {
		.label {
			display: flex;
			justify-content: space-around;
		}
	}

}

#container-gauge {
	width: 100%; 
	height: 25vh;
}

.chart-container {
	display: block; 
	height: calc(67vh - 200px);
	padding-top: 10px;
}


@media screen and (orientation: landscape) {
	.wrapper {
		flex-direction: row;
		.scroll-content {
			flex-direction: row;
		}
	}

	.card, .chart-card, #card1 {
		flex-grow: 25;
		margin: 10px;
	}

	#container-gauge {
		width: 100%; 
		height: 60vh;
	}
	
	.chart-container {
		display: block;
		height: calc(100vh - 135px);
	}
}